<a href="https://colab.research.google.com/github/MANOJKUMARKONDURU/04_Pandas-Oct09-Oct10_2025/blob/main/01_Padas%20Basics_Oct09/03_Pandas_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#What is a series
A Pandas Series is like a column in a table.

It is 1-D array holding data of any type

In [ ]:
import pandas as pd

In [ ]:
a = [1, 21, 27]

myvar = pd.Series(a)
print(myvar)

0     1
1    21
2    27
dtype: int64

#Labels
If nothing else is specified, the values are labeled with their index number.First value has index 0, second values has index 1, etc.

This label can be used to access a specified value.

In [ ]:
print(myvar[1])
print(myvar[2])

21
27

#Create Labels
with the **index** argument, you acn name your own labels.

In [ ]:
a = [1, 21, 27]
myVar = pd.Series(a, index = ['x', 'y', 'z'])
print(myVar)
print(myVar["z"])

x     1
y    21
z    27
dtype: int64
27

#Key/Value Objects as Series

You can also use a key/vlaue object, like a dictonary, when creating a Series

In [ ]:
calories ={
    'day1' : 100,
    'day2' : 200,
    'day3' : 300
}
myVar = pd.Series(calories)
print(myVar)
print(myVar[0])

day1    100
day2    200
day3    300
dtype: int64
100

/tmp/ipython-input-426202647.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(myVar[0])

#Data Frames
Data sets in Pandas are usually multi-dimensional tables, called DataFrames.

**Series is like a column, A DataFrame is the whole table**

In [ ]:
data ={
    'calories' : [100, 200, 300],
    'duration' : [50, 40, 45]
}
myVar = pd.DataFrame(data)
print(myVar)
print(myVar['calories'])

   calories  duration
0       100        50
1       200        40
2       300        45
0    100
1    200
2    300
Name: calories, dtype: int64