<a href="https://colab.research.google.com/github/MANOJKUMARKONDURU/04_Pandas-Oct09-Oct10_2025/blob/main/01_Padas%20Basics_Oct09/04_DataFrames_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#What is a DataFrame?

A Pandas DataFrame is 2-D data structure, like a 2 dimensional array, or a table with rows and columns.

In [ ]:
import pandas as pd

In [ ]:

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

#Locate Row
Pandas use the **loc** attribute to return one or more specified row(s).

**note**:This example returns a Pandas Series

In [ ]:
print(df.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

return row 0 and 1:

**Note**: When using**[ ]** result is a Pandas DataFrame

In [ ]:
print(df.loc[[0, 1]])

   calories  duration
0       420        50
1       380        40

#Named Indexes
with the **index** argument, you can name your own indexes.

In [ ]:
df = pd.DataFrame(data, index = ['day1', 'day2', 'day3'])

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

#Locate Named Indexes

Use the named index in **loc** attribute to return the specied row(s).

In [ ]:
print(df.loc['day2'])

calories    380
duration     40
Name: day2, dtype: int64

#Load Files into DataFrame
If your data sets are stored in a file, Pandas can load them into a DataFrame.

In [ ]:
df = pd.read_csv('data.csv')

print(df)